@model List<DUT_HelpDesk.DatabaseModels.Faq>
@{
    ViewData["Title"] = "FAQ";
}

<div>
    <h1 style="text-align: center">FAQ</h1>
    <br />
    @foreach (var item in Model)
    {
        @if (item != null)
        {
            <div style="background-color: #F1F1F1; padding: 10px; border-radius: 10px;">
                <table class="table">
                    <tr>
                    <th style="width:2%">Q:</th>
                    <td style="width:90%"><strong>@Html.DisplayFor(modelItem => item.Question)</strong></td>
                    </tr>
                    <tr>
                        <th style="width:2%">A:</th>
                        <td style="width:90%">@Html.DisplayFor(modelItem => item.Answer)</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <br />
        }
    }
</div>