@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DUT_HelpDesk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DUT_HelpDesk.styles.css" asp-append-version="true" />

    <style>
        @@media print {
            .navbar {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "Technician")
                {
                    @*Add FAQ*@
                    <a class="navbar-brand" asp-area="" asp-controller="Technician" asp-action="TechnicianTicketQueue">DUT HelpDesk <sub>Technician</sub></a>
                }
                else if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "Student")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">DUT HelpDesk</a>
                }
                else if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "TechnicianLead")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="TechnicianLead" asp-action="TechnicianLeadTicketQueue">DUT HelpDesk <sub>Lead Technician</sub></a>
                }
                else
                {
                    <a class="navbar-brand" @*asp-area="" asp-controller="Home" asp-action="Index"*@>DUT HelpDesk</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "Student")
                        {
                            @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                            </li>*@
                           
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserTicket">My Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="FaqDashboard">FAQs</a>
                            </li>                          
                        }
                        else if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "Technician")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="FaqDashboard">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianTicketQueue">Ticket Queue</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianDashboard">Assigned Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianInsightsDashboard">Insights</a>
                            </li>
                        }
                        else if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() == "TechnicianLead")
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="FaqDashboard">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianTicketQueue">Ticket Queue</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianDashboard">Assigned Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TechnicianLead" asp-action="TechniciansListDashboard">Technicians</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Technician" asp-action="TechnicianInsightsDashboard">Insights</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TechnicianLead" asp-action="ToolsDashboard">Tools</a>
                            </li>
                        }
                    </ul>
                    @if (Html.Raw(httpContextaccessor.HttpContext.Session.GetString("_UserType")).ToString() != ""){
                    <li class="nav">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li>
                    }else{
                        <li class="nav">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Log In</a>
                        </li>
                        <li class="nav">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Register">Register</a>
                        </li>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DUT_HelpDesk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

