@model DUT_HelpDesk.NewModels.TicketViewModel

@{
    ViewData["Title"] = "CreateTicket";
}

<h1>Create Ticket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QueryBody" class="control-label"></label>
                <input asp-for="QueryBody" class="form-control" />
                <span asp-validation-for="QueryBody" class="text-danger"></span>
            </div>
            <br />
            
            <div class="form-group">
                <label asp-for="File" class="control-label"> Attachments</label>
                @using (Html.BeginForm("CreateTicket", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    
                    <input asp-for="File" type="file" name="file" />
                    
                    
                }
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="UserTicket">Back to my tickets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
