@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DUT_HelpDesk.DatabaseModels.Faq

@using (Html.BeginForm("FaqDashboard", "Technician", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Question)
        @Html.TextBoxFor(model => model.Question, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Answer)
        @Html.TextAreaFor(model => model.Answer, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create FAQ</button>
}