@using DUT_HelpDesk.Controllers;
@model DUT_HelpDesk.DatabaseModels.ReplyTicketViewModel

<h1>My Replies</h1>



<div>
    <h2>Ticket Details</h2>
    <p><strong>Subject:</strong> @Model.ticket.Subject</p>
    <p><strong>Query Body:</strong> @Model.ticket.QueryBody</p>
    <p><strong>Date Created:</strong> @Model.ticket.DateCreated</p>
</div>


<h2>Enter Your Reply</h2>
        <form method="post" asp-action="MyReplies" enctype="multipart/form-data">
        
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Message">Reply:</label>
                <textarea asp-for="Message" class="form-control"></textarea>
            </div>
            <input asp-for="id" type="hidden" value="@Model.ticket.TicketId" />
            <br />
            <div>
                <label asp-for="file" class="control-label">Attachment</label>
                <input asp-for="file" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit Reply</button>
        </form>
    




